app/TiboxWebApi.WebApi/Service References/wsCPD/wsCPD3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ELCPDMatrizDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nCodicionSituacionlaboral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nSitucionLaboral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nTipoScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oProducto" nillable="true" type="tns:ELProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELCPDMatrizDatos" nillable="true" type="tns:ELCPDMatrizDatos" />
  <xs:complexType name="ELProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nModalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELProducto" nillable="true" type="tns:ELProducto" />
  <xs:complexType name="ELCPDMatrizResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="bError" type="xs:boolean" />
      <xs:element minOccurs="0" name="bReqCPD" type="xs:boolean" />
      <xs:element minOccurs="0" name="sMensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELCPDMatrizResultado" nillable="true" type="tns:ELCPDMatrizResultado" />
</xs:schema>