app/TiboxWebApi.WebApi/Service References/wsScoringBuro/wsScoringBuro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.19.150.20:3000/wsScoringBuro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" />
  <xs:element name="ScoringBuroCuotaUtilizada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" minOccurs="0" name="poDatosCuotaUtilizada" nillable="true" type="q1:ELScoringBuroCuotaUtilizadaDatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoringBuroCuotaUtilizadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" minOccurs="0" name="ScoringBuroCuotaUtilizadaResult" nillable="true" type="q2:ELScoringBuroCuotaUtilizadaResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoringBuro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" minOccurs="0" name="poDatosScoring" nillable="true" type="q3:ELScoringBuroDatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoringBuroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" minOccurs="0" name="ScoringBuroResult" nillable="true" type="q4:ELScoringBuroResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>