app/TiboxWebApi.WebApi/Service References/wsPreAprobacion/wsPreAprobacion31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ELDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="nTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNroDoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELDocumento" nillable="true" type="tns:ELDocumento" />
  <xs:complexType name="ELProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nModalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELProducto" nillable="true" type="tns:ELProducto" />
  <xs:complexType name="ELPreAprobacionResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="bError" type="xs:boolean" />
      <xs:element minOccurs="0" name="cDecision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cDescripcionRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cTipoScoring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nDecision" type="xs:int" />
      <xs:element minOccurs="0" name="nPrestamoMaximo" type="xs:double" />
      <xs:element minOccurs="0" name="nPrestamoMinimo" type="xs:double" />
      <xs:element minOccurs="0" name="sMensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELPreAprobacionResultado" nillable="true" type="tns:ELPreAprobacionResultado" />
</xs:schema>