app/TiboxWebApi.WebApi/Service References/wsPreAprobacion/wsPreAprobacion32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.19.150.16:1711/wsPreAprobacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" />
  <xs:element name="DevuelvePreAprobacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" minOccurs="0" name="poDatos" nillable="true" type="q1:ELDocumento" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" minOccurs="0" name="poProducto" nillable="true" type="q2:ELProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevuelvePreAprobacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" minOccurs="0" name="DevuelvePreAprobacionResult" nillable="true" type="q3:ELPreAprobacionResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>