app/TiboxWebApi.WebApi/Service References/wsScoringDemografico/wsScoringDemografico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ELScoringDemograficoDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nGarantia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nIngresoPredecido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nModalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nModalidadLaboral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nMoraComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nScoreOtros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nTipoFormalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oDocumentoTitual" nillable="true" type="tns:ELDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoringDemograficoDatos" nillable="true" type="tns:ELScoringDemograficoDatos" />
  <xs:complexType name="ELDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="nTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNroDoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELDocumento" nillable="true" type="tns:ELDocumento" />
  <xs:complexType name="ELScoringDemograficoResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="bError" type="xs:boolean" />
      <xs:element minOccurs="0" name="nCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nCuotaDisponible" type="xs:double" />
      <xs:element minOccurs="0" name="nCuotaMaxima" type="xs:double" />
      <xs:element minOccurs="0" name="nCuotaUtilizada" type="xs:double" />
      <xs:element minOccurs="0" name="nDecicion" type="xs:int" />
      <xs:element minOccurs="0" name="nPlazo" type="xs:double" />
      <xs:element minOccurs="0" name="nPorcGarantiaAvaluo" type="xs:double" />
      <xs:element minOccurs="0" name="nPorcentajeInicial" type="xs:double" />
      <xs:element minOccurs="0" name="nPrestamo1" type="xs:double" />
      <xs:element minOccurs="0" name="nPrestamo2" type="xs:double" />
      <xs:element minOccurs="0" name="nPrestamo3" type="xs:double" />
      <xs:element minOccurs="0" name="nPrestamo4" type="xs:double" />
      <xs:element minOccurs="0" name="nPrestamoMaximo" type="xs:double" />
      <xs:element minOccurs="0" name="nPrestamoMinimo" type="xs:double" />
      <xs:element minOccurs="0" name="nRCI" type="xs:double" />
      <xs:element minOccurs="0" name="nRMA" type="xs:double" />
      <xs:element minOccurs="0" name="nTasa" type="xs:double" />
      <xs:element minOccurs="0" name="sDescripcionRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sMensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoringDemograficoResultado" nillable="true" type="tns:ELScoringDemograficoResultado" />
</xs:schema>