app/TiboxWebApi.WebApi/Service References/wsScoreBuro/wsScoreBuro3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ELScoreBuroDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="sNroDoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreBuroDatos" nillable="true" type="tns:ELScoreBuroDatos" />
  <xs:complexType name="ELScoreBuroResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="bError" type="xs:boolean" />
      <xs:element minOccurs="0" name="nScoreBuro" type="xs:double" />
      <xs:element minOccurs="0" name="sMensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreBuroResultado" nillable="true" type="tns:ELScoreBuroResultado" />
</xs:schema>