app/TiboxWebApi.WebApi/Service References/wsScoreLenddo/wsScoreLenddo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ELScoreLenddoDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="oDocumento" nillable="true" type="tns:ELDocumento" />
      <xs:element minOccurs="0" name="oProducto" nillable="true" type="tns:ELProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreLenddoDatos" nillable="true" type="tns:ELScoreLenddoDatos" />
  <xs:complexType name="ELDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="nTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNroDoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELDocumento" nillable="true" type="tns:ELDocumento" />
  <xs:complexType name="ELProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nModalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELProducto" nillable="true" type="tns:ELProducto" />
  <xs:complexType name="ELScoreLenddoResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="bError" type="xs:boolean" />
      <xs:element minOccurs="0" name="bPasoPorLenddo" type="xs:boolean" />
      <xs:element minOccurs="0" name="bVerificacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="nScore" type="xs:double" />
      <xs:element minOccurs="0" name="oListaVerificacion" nillable="true" type="tns:DatosVerificacion" />
      <xs:element minOccurs="0" name="sCodigoLenddo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sMensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreLenddoResultado" nillable="true" type="tns:ELScoreLenddoResultado" />
  <xs:complexType name="DatosVerificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Employer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TopEmployer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="University" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="VerifiedByFacebook" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosVerificacion" nillable="true" type="tns:DatosVerificacion" />
</xs:schema>