app/TiboxWebApi.WebApi/Service References/wsScoreComportamiento/wsScoreComportamiento31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ELScoreComportamientoDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nCodPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreComportamientoDatos" nillable="true" type="tns:ELScoreComportamientoDatos" />
  <xs:complexType name="ELScoreComportamientoResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="bError" type="xs:boolean" />
      <xs:element minOccurs="0" name="nScoreComportamiento" type="xs:double" />
      <xs:element minOccurs="0" name="sMensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreComportamientoResultado" nillable="true" type="tns:ELScoreComportamientoResultado" />
</xs:schema>