app/TiboxWebApi.WebApi/Service References/wsScoreDemografico/wsScoreDemografico1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsScoreDemografico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.19.150.16:1711/wsScoreDemografico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.19.150.16:1711/wsScoreDemografico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.19.150.16:1711/wsScoreDemografico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsScoreDemografico_ScoreDemografico_InputMessage">
    <wsdl:part name="parameters" element="tns:ScoreDemografico" />
  </wsdl:message>
  <wsdl:message name="IwsScoreDemografico_ScoreDemografico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScoreDemograficoResponse" />
  </wsdl:message>
  <wsdl:message name="IwsScoreDemografico_DevuelveMoraComercial_InputMessage">
    <wsdl:part name="parameters" element="tns:DevuelveMoraComercial" />
  </wsdl:message>
  <wsdl:message name="IwsScoreDemografico_DevuelveMoraComercial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevuelveMoraComercialResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsScoreDemografico">
    <wsdl:operation name="ScoreDemografico">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsScoreDemografico/ScoreDemografico" message="tns:IwsScoreDemografico_ScoreDemografico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsScoreDemografico/ScoreDemograficoResponse" message="tns:IwsScoreDemografico_ScoreDemografico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevuelveMoraComercial">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsScoreDemografico/DevuelveMoraComercial" message="tns:IwsScoreDemografico_DevuelveMoraComercial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsScoreDemografico/DevuelveMoraComercialResponse" message="tns:IwsScoreDemografico_DevuelveMoraComercial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwsScoreDemografico" type="tns:IwsScoreDemografico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ScoreDemografico">
      <soap:operation soapAction="http://tempuri.org/IwsScoreDemografico/ScoreDemografico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevuelveMoraComercial">
      <soap:operation soapAction="http://tempuri.org/IwsScoreDemografico/DevuelveMoraComercial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsScoreDemografico">
    <wsdl:port name="BasicHttpBinding_IwsScoreDemografico" binding="tns:BasicHttpBinding_IwsScoreDemografico">
      <soap:address location="http://10.19.150.16:1711/wsScoreDemografico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>