app/TiboxWebApi.WebApi/Service References/wsScoreDemografico/wsScoreDemografico31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftBox.Scoring.EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ELScoreDemograficoDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nCondicionLaboral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nDepartamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nEdad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nEstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nGenero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nIngresoSalarial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nMoraComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nRankingTop10000" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nSituacionLaboral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nVivienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oDocumento" nillable="true" type="tns:ELDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreDemograficoDatos" nillable="true" type="tns:ELScoreDemograficoDatos" />
  <xs:complexType name="ELDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="nTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNroDoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELDocumento" nillable="true" type="tns:ELDocumento" />
  <xs:complexType name="ELScoreDemograficoResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="bError" type="xs:boolean" />
      <xs:element minOccurs="0" name="nScoreDemografico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oScoreItems" nillable="true" type="tns:ArrayOfScoreItem" />
      <xs:element minOccurs="0" name="sMensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELScoreDemograficoResultado" nillable="true" type="tns:ELScoreDemograficoResultado" />
  <xs:complexType name="ArrayOfScoreItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoreItem" nillable="true" type="tns:ScoreItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoreItem" nillable="true" type="tns:ArrayOfScoreItem" />
  <xs:complexType name="ScoreItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="nScoreId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nScorePuntaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sScoreDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScoreItem" nillable="true" type="tns:ScoreItem" />
</xs:schema>